// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;800&display=swap');



$primary: purple;
$enable-negative-margins: true;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height  : 100%;
    overflow: auto;
    position: relative;
}
html {
    height  : 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.vertical-spacing {
    margin-top: 25vh;
}

.card-column {
    max-width: 25%;
}

.list-group-item, .list-group-item-action {
    //outline: solid 0.5pt grey;
    color: aqua;
 }


.accordion-custom {
    --bs-accordion-border-color: purple;
    --bs-accordion-btn-color: purple;
}

$accordion-button-active-bg: white;
$list-group-active-color: purple;
$list-group-active-border-color:purple;
$list-group-active-bg: white;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
);



